# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl

# Shell scripts
*.sh

# Mac system files
.DS_Store

# Docker build artifacts
*.tar

